.header {
  margin: 10px;
}

img {
  margin: 10px;
  height: 100px;
  width: 100px;
}
h1,
h5,
h5,
a {
  margin: 0;
}

.info {
  display: block;
  text-decoration: none;
}

body {
  background-color: rgb(65, 65, 65);
  color: whitesmoke;
}

table,
th,
td {
  border: 1px solid black;

  border-collapse: collapse;
}

.links {
  height: 50px;
  width: 50px;
  margin: 0;
}
